<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Про нас - Магія Чаю</title>
    <link rel="stylesheet" href="../aboutUs.css" />
    <link rel="icon" href="../src/assets/logo-tea.png" type="image/icon type" />
  </head>
  <body>
    <header>
      <h1>Магія Чаю</h1>
      <nav>
        <ul>
          <li><a href="../index.html">Головна</a></li>
          <li><a href="./AboutUs.html">Про нас</a></li>
          <li><a href="./contact.html">Контакти</a></li>
        </ul>
      </nav>
    </header>

    <section>
      <h2>Хто ми?</h2>
      <p>
        Магія Чаю - це команда експертів, яка віддана місії принести радість і
        задоволення кожному любителю чаю. Ми поєднуємо столітні традиції чайної
        культури зі свіжістю і новаторством, щоб створювати унікальні смаки і
        неперевершені враження.
      </p>
      <p>
        Наші фахівці відбирають найкращі сировини з різних куточків світу,
        досліджують унікальні чайні сорти та знаходять найкращі способи їх
        обробки. Ми пильно стежимо за кожним етапом виробництва, щоб забезпечити
        вам найвищу якість кожної чашки чаю, яку ви п'єте.
      </p>
    </section>

    <section>
      <h2>Наша мета</h2>
      <p>
        Нашою метою є не просто продавати чай, а створювати особливі моменти і
        насолоду для наших клієнтів. Ми віримо, що кожна чашка чаю може бути
        справжньою подорожжю смаків і ароматів, яка розкриває нові горизонти і
        надихає до нових відкриттів.
      </p>
      <p>
        Ми також прагнемо зробити світ кращим місцем через нашу діяльність.
        Завдяки співпраці з виробниками чаю, ми підтримуємо сталість,
        справедливі умови праці та відновлення екосистем. Ми прагнемо зберегти
        природні ресурси та діяти відповідально по відношенню до навколишнього
        середовища.
      </p>
    </section>

    <section>
      <h2>Наші послуги</h2>
      <p>
        Ми пропонуємо широкий асортимент чайних сортів з усього світу. Від
        класичних сортів до ексклюзивних колекцій, ви знайдете щось на свій
        смак. Ми також надаємо консультації щодо підбору чаю, проводимо
        майстер-класи і чайні церемонії.
      </p>
      <p>
        Завітайте до наших магазинів або замовте наші продукти онлайн, і ми з
        радістю допоможемо вам знайти ідеальний чай для вас або ваших близьких.
      </p>
    </section>
    <video
      id="video"
      src="../src/assets/Секрети заварювання китайського чаю пуер від Дмитра Комарова.mp4"
      controls
    ></video>
    <footer>
      <p>© 2023, Tea Lab</p>
      <div class="icons">
        <img src="../src/assets/Ico_fb.svg" alt="facebook" />
        <img src="../src/assets/Ico_inst.svg" alt="instagram" />
        <img src="../src/assets/Ico_tube.svg" alt="uTube" />
        <img src="../src/assets/Ico_tw.svg" alt="twitter" />
      </div>
    </footer>
  </body>
</html>
