<!DOCTYPE html>
<html>
  <head>
    <title>Чорний чай</title>
    <link rel="stylesheet" href="../components.css" />
    <link rel="icon" href="../src/assets/logo-tea.png" type="image/icon type" />
  </head>
  <body>
    <header>
      <div class="components-head">
        <a class="arrow-back" href="../index.html"
          ><img src="../src/assets/icons-arrow-96.png" alt=""
        /></a>
        <h1>Чорний чай</h1>
      </div>
    </header>

    <main>
      <h2>Що таке чорний чай?</h2>
      <p>
        Чорний чай - це вид чаю, який отримують з листків куща Camellia
        sinensis. Він має насичений аромат та темний колір.
      </p>

      <h2>Історія</h2>
      <p>
        Історія чорного чаю нараховує багато століть. Вперше він був відкритий в
        Китаї, а потім став популярним напоєм у багатьох країнах світу.
      </p>

      <h2>Приготування</h2>
      <p>
        Для приготування чорного чаю зазвичай використовують окроп. Листки
        заварюють у чайнику або спеціальному чайнику протягом кількох хвилин.
      </p>

      <h2>Види чорного чаю</h2>
      <ul>
        <li>Ассам</li>
        <li>Дарджилинг</li>
        <li>Кейлан</li>
        <li>Ерл Грей</li>
      </ul>
    </main>
  </body>
</html>
