<!DOCTYPE html>
<html>
  <head>
    <title>Сайт про зелений чай</title>
    <link rel="stylesheet" href="../components.css" />
    <link rel="icon" href="../src/assets/logo-tea.png" type="image/icon type" />
  </head>
  <body>
    <header>
      <div class="components-head">
        <a class="arrow-back" href="../index.html"
          ><img src="../src/assets/icons-arrow-96.png" alt=""
        /></a>
        <h1>Фруктовий чай</h1>
      </div>
    </header>

    <main>
      <h2>Що таке фруктовий чай?</h2>
      <p>
        Фруктовий чай - це вид чаю, який виготовляють з сушених фруктів, ягід,
        трав та інших рослин. Він має свіжий фруктовий смак та аромат і може
        бути приємним варіантом для тих, хто шукає щось освіжаюче.
      </p>

      <h2>Інгредієнти</h2>
      <p>Фруктовий чай може містити різні інгредієнти, такі як:</p>
      <ul>
        <li>Сушені фрукти (яблука, апельсини, полуниці і т.д.)</li>
        <li>Сушені ягоди (малина, червоний шипшина, брусника і т.д.)</li>
        <li>Трави (м'ята, лемонграсс, розмарин і т.д.)</li>
        <li>Екзотичні інгредієнти (гранат, манго, кокос і т.д.)</li>
      </ul>

      <h2>Приготування</h2>
      <p>
        Для приготування фруктового чаю зазвичай використовують кип'яток або
        гарячу воду з температурою близько 95°C. Час заварювання може
        варіюватися залежно від сорту чаю та ваших вподобань.
      </p>

      <h2>Смакові варіанти</h2>
      <p>Фруктовий чай може мати безліч смакових варіантів, таких як:</p>
      <ul>
        <li>Яблучно-квітковий чай</li>
        <li>Екзотичний манго-гранатовий чай</li>
        <li>Лимонно-м'ятний чай</li>
        <li>Малиновий чай з шматочками полуниці</li>
      </ul>

      <h2>Зображення</h2>
      <img src="green_tea_1.jpg" alt="Зелений чай" />
      <img src="green_tea_2.jpg" alt="Чайна церемонія" />
    </main>
  </body>
</html>
