<!DOCTYPE html>
<html>
  <head>
    <title>Сайт про зелений чай</title>
    <link rel="stylesheet" href="../components.css" />
    <link rel="icon" href="../src/assets/logo-tea.png" type="image/icon type" />
  </head>
  <body>
    <header>
      <div class="components-head">
        <a class="arrow-back" href="../index.html"
          ><img src="../src/assets/icons-arrow-96.png" alt=""
        /></a>
        <h1>Зелений чай</h1>
      </div>
    </header>

    <main>
      <h2>Що таке зелений чай?</h2>
      <p>
        Зелений чай - це вид чаю, який отримують з листків куща Camellia
        sinensis. Він має свіжий аромат та зелений колір.
      </p>

      <h2>Історія</h2>
      <p>
        Історія зеленого чаю нараховує багато століть. Він походить зі
        стародавньої Китаю і став одним з найпопулярніших напоїв у світі.
      </p>

      <h2>Приготування</h2>
      <p>
        Для приготування зеленого чаю зазвичай використовують не кип'яток, а
        воду з температурою близько 80°C. Листки заварюють у чайнику або
        спеціальній чайній посуді протягом кількох хвилин.
      </p>

      <h2>Види зеленого чаю</h2>
      <ul>
        <li>Сенча</li>
        <li>Гюокуро</li>
        <li>Білочай</li>
        <li>Матча</li>
      </ul>
    </main>
  </body>
</html>
