<!DOCTYPE html>
<html>
  <head>
    <title>Сайт про зелений чай</title>
    <link rel="stylesheet" href="../components.css" />
    <link rel="icon" href="../src/assets/logo-tea.png" type="image/icon type" />
  </head>
  <body>
    <header>
      <div class="components-head">
        <a class="arrow-back" href="../index.html"
          ><img src="../src/assets/icons-arrow-96.png" alt=""
        /></a>
        <h1>Чай Оолонг</h1>
      </div>
    </header>

    <main>
      <h2>Що таке чай Оолонг?</h2>
      <p>
        Чай Оолонг - це напій, який отримують з листків куща Camellia sinensis,
        але він знаходиться між зеленим чаєм та чорним чаєм за ступенем
        окислення. Він має складний смак та аромат, що комбінує нотки квітів,
        фруктів і спецій.
      </p>

      <h2>Історія</h2>
      <p>
        Чай Оолонг має довгу історію, яка починається в Китаї. Він вирощується
        та виробляється головним чином на Тайвані, але також відомий в інших
        регіонах.
      </p>

      <h2>Приготування</h2>
      <p>
        Для приготування чаю Оолонг зазвичай використовують воду з температурою
        близько 90°C. Час заварювання може варіюватися залежно від сорту чаю,
        але зазвичай він становить 3-5 хвилин.
      </p>

      <h2>Види чаю Оолонг</h2>
      <ul>
        <li>Тянь Гуань (Грейпфрутовий)</li>
        <li>Дунг Дінг (Медовий)</li>
        <li>Ті Гуань Інь (Прив'язка до тряпки)</li>
        <li>Бай Ча (Білий щоки)</li>
      </ul>

      <h2>Зображення</h2>
      <img src="green_tea_1.jpg" alt="Зелений чай" />
      <img src="green_tea_2.jpg" alt="Чайна церемонія" />
    </main>
  </body>
</html>
