<!DOCTYPE html>
<html>
  <head>
    <title>Сайт про зелений чай</title>
    <link rel="stylesheet" href="../components.css" />
    <link rel="icon" href="../src/assets/logo-tea.png" type="image/icon type" />
  </head>
  <body>
    <header>
      <div class="components-head">
        <a class="arrow-back" href="../index.html"
          ><img src="../src/assets/icons-arrow-96.png" alt=""
        /></a>
        <h1>Білий чай</h1>
      </div>
    </header>

    <main>
      <h2>Що таке білий чай?</h2>
      <p>
        Білий чай - це вид чаю, який отримують з молодих листків і бруньок куща
        Camellia sinensis. Він має ніжний аромат та блідо-жовтий або
        блідо-зелений колір.
      </p>

      <h2>Історія</h2>
      <p>
        Білий чай має довгу історію, яка починається в Китаї. Він був цінним
        напоєм в імператорському дворі та став доступним для широкої публіки
        пізніше.
      </p>

      <h2>Приготування</h2>
      <p>
        Для приготування білого чаю зазвичай використовують воду з температурою
        близько 80°C. Листки заварюють у чайнику або чайній посуді протягом
        декількох хвилин.
      </p>

      <h2>Види білого чаю</h2>
      <ul>
        <li>Срібний іголки</li>
        <li>Байхао (Піональний чай)</li>
        <li>Шу Мей (Квітковий пукет)</li>
        <li>Яблучний білий чай</li>
      </ul>
    </main>
  </body>
</html>
